@import url('style.css');

#form-group{margin-top: 30px;}
#options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 1.4rem;
}

#remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#remember label{
    padding-left: 1rem;
    font-weight: bold;
}

@media screen and (max-width: 767px)  {
    #options{
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 350px) {
    #options{
        flex-direction: column-reverse;
    }

    #remember { 
        justify-content: flex-start;
        margin-top: 15px;
    }
    .link{
        margin-top: -10px;
        align-self: flex-end;
    }
}